.mashups, .mixes {
    padding-bottom: 50px;
}

.mashups {
    background: #A3A5D9;
}

.mixes {
    background: #C9CFF2;
}

td:last-child {
    border-left: 1px solid #7C7C7C;
    border-right: none;
}

/* NEPARNE */
tr:nth-child(odd) {
    background-color: #F2EEEB;
}

/* PARNE V MASHUPS */
.mashups tr:nth-child(even) {
    background-color: #C9CFF2;
}

/* PARNE V MIXES */
.mixes tr:nth-child(even) {
    background-color: #A3A5D9;
}
