::-webkit-scrollbar-track {
    background: #C9CFF2 !important;
}

::-webkit-scrollbar-thumb {
    background: #3D3791 !important;
}

::-webkit-scrollbar-thumb:hover {
    background: #A3A5D9 !important;
}

:not(.navigation) a:hover {
    border-bottom-color: #3D3791 !important;
}

header {
    background: #3D3791 !important;
    padding: 7px 10px !important;
}

.zIndex {
    z-index: 1;
}

/* Large */

.navigation a:not(.active):hover {
    border-bottom-color: #A3A5D9 !important;
}

.navigation a.active {
    border-top-color: #A3A5D9 !important;
}

.logo img {
    width: 32px;
}
