@import url('//fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;0,800;1,600&display=swap');

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #EEE5E9;
}

::-webkit-scrollbar-thumb {
    background: #CF5C36;
}

::-webkit-scrollbar-thumb:hover {
    background: #EFC88B;
}

*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

html, body {
    height: 100%;
}

a, a:visited {
    color: inherit;
    text-decoration: none;
}

section {
    min-height: 100vh;
    background: #EFC88B;
    text-align: center;
    margin: 0 auto;
    padding: 5% 0;
}

h1 {
    font-size: 50px;
    margin-bottom: 50px;
}

.link {
    background: #EEE5E9;
    width: 25%;
    margin: 20px auto;
}

.links a {
    display: block;
    color: #7C7C7C;
    padding: 20px;
    font-weight: 700;
    font-size: 25px;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    border-bottom: 3px solid transparent;
}

.links a:hover {
    border-bottom: 3px solid #CF5C36;
}

@media screen and (max-width: 2252px) {
    .link {
        width: 33%;
    }
}

@media screen and (max-width: 1796px) {
    .link {
        width: 40%;
    }
}

@media screen and (max-width: 1076px) {
    .link {
        width: 90%;
    }
}

@media screen and (max-width: 764px) {
    h1 {
        font-size: 40px;
        margin-top: 50px;
    }
}

@media screen and (max-width: 375px) {
    h1 {
        font-size: 30px;
        margin-bottom: 0;
    }

    .link a {
        padding: 10px;
        tab-size: 20px;
    }
}
