:root {
  --big-font-size: 30rem;
  --big-font-spacing: -30px;
  --big-font-padding: 100px 0 0 100px;
  --small-font-size: 100px;
  --smallest-font-size: 25px;
  --small-font-padding: 0 50px 0 100px; }

*, *:before, *:after {
  margin: 0;
  padding: 0;
  font-family: 'DM Sans', sans-serif;
  box-sizing: border-box; }

.transition-fade {
  transition: 0.4s;
  opacity: 1; }

html.is-animating .transition-fade {
  opacity: 0; }

a {
  color: #ccc; }
  a:hover {
    text-decoration: none; }

p {
  margin: 20px 0; }
  p strong {
    font-weight: 500; }

body {
  height: 100%; }

.big__text {
  cursor: default;
  height: 100vh;
  padding: var(--big-font-padding); }
  .big__text--scroll {
    font-size: var(--big-font-size);
    letter-spacing: var(--big-font-spacing);
    line-height: .9;
    font-weight: 400; }
    .big__text--scroll div {
      display: flex;
      flex-flow: row wrap; }
  .big__text__scroll--text, .last__section--links {
    position: absolute;
    right: 25px;
    bottom: 25px;
    font-size: 50px;
    letter-spacing: -2px;
    transition: .3s ease-in-out bottom, .3s ease-in-out opacity;
    opacity: .75;
    color: #666; }
    .big__text__scroll--text:hover, .last__section--links:hover {
      bottom: 30px;
      opacity: 1; }

.second__section {
  height: 400vh;
  background: #000;
  color: #fff; }
  .second__section--container {
    height: 350vh;
    position: relative;
    top: 40vh;
    overflow: hidden; }
  .second__section__left, .second__section__right {
    width: 50%; }
  .second__section__left {
    padding: var(--small-font-padding); }
    .second__section__left--big {
      font-size: var(--small-font-size); }
    .second__section__left--small {
      font-size: var(--smallest-font-size); }
  .second__section__right {
    position: relative;
    left: 50%; }
  .second__section__img {
    height: 150vh;
    width: 100%;
    position: relative;
    top: 50vh;
    opacity: .75;
    background: url("../img/me.webp") center;
    background-size: cover; }

.third__section {
  height: 250vh; }
  .third__section--container {
    height: 235vh;
    overflow: hidden; }
  .third__section__left, .third__section__right {
    width: 50%;
    display: inline-block; }
  .third__section__left {
    position: relative;
    top: 100vh;
    padding: var(--small-font-padding); }
    .third__section__left--client:after, .third__section__left--coming-soon:after, .third__section__left--sideproject--disc:after {
      cursor: default;
      color: #ccc;
      display: inline-block;
      margin-left: 10px;
      font-weight: 300;
      font-size: 20px; }
    .third__section__left--client:after {
      content: 'client work'; }
    .third__section__left--coming-soon:after {
      content: 'coming soon';
      color: #333333;
      background: #ccc;
      padding: 5px 10px;
      border-radius: 5px;
      margin-left: 15px; }
    .third__section__left--sideproject--disc:after {
      content: 'project ended'; }
    .third__section__left--description {
      height: 0;
      overflow: hidden; }
      .third__section__left--description a {
        float: right;
        color: #666; }
    .third__section__left--list {
      list-style-type: none; }
      .third__section__left--list li {
        margin: 10px 0;
        letter-spacing: .9px; }
        .third__section__left--list li a {
          color: #333;
          font-size: var(--smallest-font-size); }
  .third__section__right {
    float: right;
    display: inline-flex;
    align-items: center;
    height: 100vh; }
    .third__section__right h3 {
      font-size: var(--small-font-size); }

.fourth__section {
  min-height: 250vh; }
  .fourth__section--container {
    overflow: hidden;
    height: 235vh; }
  .fourth__section__left, .fourth__section__right {
    width: 50%;
    display: inline-block; }
  .fourth__section__left {
    padding: var(--small-font-padding);
    display: inline-flex;
    align-items: center;
    height: 100vh; }
    .fourth__section__left h3 {
      font-size: var(--small-font-size); }
  .fourth__section__right {
    position: relative;
    top: 100vh;
    float: right; }
    .fourth__section__right--new:after {
      cursor: default;
      display: inline-block;
      font-weight: 300;
      font-size: 20px;
      background: #ccc;
      padding: 5px 10px;
      border-radius: 5px;
      margin-left: 15px;
      content: 'new'; }
    .fourth__section__right--list {
      list-style-type: none; }
      .fourth__section__right--list li {
        margin: 10px 0;
        letter-spacing: .9px; }
        .fourth__section__right--list li a {
          color: #333;
          font-size: var(--smallest-font-size); }

.last__section {
  height: 100vh;
  background: #000;
  color: #fff;
  position: relative; }
  .last__section--scroll {
    padding: var(--big-font-padding);
    font-size: var(--big-font-size);
    letter-spacing: var(--big-font-spacing);
    line-height: .9;
    font-weight: 400; }
  .last__section--links {
    bottom: 0; }
    .last__section--links:hover {
      bottom: 0;
      opacity: .75; }
    .last__section--links a {
      position: relative;
      transition: .3s ease-in-out bottom, .3s ease-in-out opacity;
      bottom: 25px;
      opacity: .75; }
      .last__section--links a:hover {
        bottom: 30px;
        opacity: 1; }

.blog__main {
  background: #000;
  color: #fff;
  min-height: 100vh;
  padding: 100px; }
  .blog__main p,
  .blog__main blockquote {
    font-size: 18px; }
  .blog__main h1 {
    font-size: 50px; }
  .blog__main blockquote {
    border-left: 10px solid #ccc;
    margin: 1.5em 10px;
    padding: 0.5em 10px; }

.white {
  background: #fff;
  color: #000; }
  .white .last__section--links a {
    color: #333; }

@media screen and (max-width: 2142px) {
  :root {
    --big-font-size: 22.5rem; } }

@media screen and (max-width: 1702px) {
  :root {
    --small-font-size: 75px;
    --smallest-font-size: 20px;
    --big-font-size: 20rem;
    --big-font-spacing: -23px; } }

@media screen and (max-width: 1582px) {
  :root {
    --big-font-size: 15rem;
    --big-font-spacing: -15px; } }

@media screen and (max-width: 1270px) {
  :root {
    --big-font-size: 12.5rem;
    --big-font-spacing: -15px;
    --big-font-padding: 50px 0 0 50px;
    --small-font-padding: 0 25px 0 50px; } }

@media screen and (max-width: 1094px) {
  :root {
    --big-font-size: 5rem;
    --big-font-spacing: -5px;
    --big-font-padding: 10px 0 0 10px;
    --small-font-size: 16px;
    --smallest-font-size: 16px; }
  .big__text__scroll--text, .last__section--links {
    bottom: 25px; }
    .big__text__scroll--text:hover, .last__section--links:hover {
      bottom: 25px; }
  .second__section,
  .third__section,
  .fourth__section {
    min-height: 100vh;
    height: unset; }
  .second__section--container,
  .third__section--container,
  .fourth__section--container {
    height: unset;
    display: flex;
    flex-flow: column;
    top: unset; }
  .third__section--container {
    flex-flow: column-reverse; }
  .second__section__left,
  .third__section__left,
  .fourth__section__left,
  .third__section__right,
  .fourth__section__right {
    height: unset;
    width: 100%;
    padding: var(--small-font-padding); }
  .second__section__left,
  .third__section__right,
  .fourth__section__left {
    align-items: unset; }
    .second__section__left h3,
    .third__section__right h3,
    .fourth__section__left h3 {
      font-size: 50px; }
  .big__text__scroll--text, .last__section--links {
    font-size: 30px; }
  .third__section__left,
  .fourth__section__right {
    align-items: unset;
    top: unset;
    min-height: unset;
    margin-top: 40px; }
  .second__section__right {
    display: none; }
  .third__section__left--list li,
  .fourth__section__right--list li {
    margin: 5px 0; }
    .third__section__left--list li:after,
    .fourth__section__right--list li:after {
      font-size: 16px; }
    .third__section__left--list li a,
    .fourth__section__right--list li a {
      font-size: 18px; }
  .fourth__section__left {
    height: unset;
    z-index: 99; }
  .blog__main {
    padding: 40px; }
    .blog__main p,
    .blog__main blockquote {
      font-size: 16px; }
  #fixed-elements,
  #fixed-elements-2,
  #fixed-elements-3 {
    min-height: 100vh;
    display: flex;
    align-items: center; }
  .last__section--links {
    font-size: 20px;
    letter-spacing: -1px; } }

@media screen and (max-width: 936px) {
  :root {
    --small-font-padding: 0 25px; }
  .second__section__left--small p {
    margin: 10px 0; } }
