.contact {
    background: #A3A5D9;
}

.alertInfo {
    background: #F2EEEB;
}

.right form input, .right form textarea {
    background: #C9CFF2;
}

.right form button {
    background: #3D3791;
    color: #F2EEEB;
}
