.home {
    background: none;
    box-shadow: none;
}

.home h1 {
    z-index: 1;
}

.home h2 {
    z-index: 1;
}

.home video {
    box-shadow:inset 0 0 0 2000px #cf5c3638;
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    transform: translateY(5%);
    opacity: .7;
}
