:root {
    --height-h1: 50px;
}

/* FIRST PART */

.first {
    height: 100%;
    background: #EFC88B;
}

.img {
    width: 50%;
    height: 100%;
    display: inline-block;
    padding: 10%;
}

.img img {
    width: 100%;
    display: block;
    margin: auto;
}

.description {
    width: 50%;
    display: inline-block;
    vertical-align: top;
    text-align: right;
    padding: 21vh 5em;
}

.description h1 {
    text-transform: uppercase;
    font-weight: 800;
    font-size: var(--height-h1);
}

.description p {
    margin: 30px 0;
    font-weight: 500;
    font-size: 21px;
}

/* SECOND PART */

.second {
    height: 100%;
    background: #EEE5E9;
    padding: 6%;
}

.second h1 {
    text-align: center;
    text-transform: uppercase;
    font-weight: 800;
    font-size: var(--height-h1);
}

@media screen and (max-width: 1283px) {
    :root {
        --height-h1: 40px;
    }

    .img img {
        transform: translateY(25%);
    }

    .description p {
        font-size: 17px;
    }
}

@media screen and (max-width: 901px) {
    :root {
        --height-h1: 30px;
    }

    .img img {
        transform: translateY(45%);
    }

    .description p {
        font-size: 16px;
    }
}

@media screen and (max-width: 707px) {
    :root {
        --height-h1: 40px;
    }

    .img, .description {
        width: 100%;
    }

    .img {
        padding: 10% 0;
    }

    .img img {
        transform: none;
        width: 50%;
    }

    .description {
        text-align: center;
        padding: 0 10%;
    }

    .description p {
        font-size: 16px;
    }
}

@media screen and (max-width: 621px) {
    .img {
        padding: 15% 0;
    }
}

@media screen and (max-width: 405px) {
    .img {
        padding: 20% 0;
    }
}

@media screen and (max-width: 344px) {
    :root {
        --height-h1: 40px;
    }

    .description p {
        font-size: 15px;
        margin: 15px 0;
    }
}
