.first {
    background: #EFC88B;
    min-height: 100vh;
    padding: 17vh 5em 0;
}

.first h1 {
    font-weight: 800;
    text-transform: uppercase;
    text-align: center;
    font-size: 50px;
}

/* LEFT */

.left {
    width: 50%;
    display: inline-block;
}

.left h2 {
    font-weight: 800;
    text-transform: uppercase;
    text-align: center;
    color: #7C7C7C;
    padding: 1em;
    font-size: 30px;
}

.left img {
    width: 50%;
    margin: 0 auto;
    display: block;
}

/* RIGHT */

.right {
    width: 50%;
    display: inline-block;
    vertical-align: top;
    padding: 2em 0;
}

.right p {
    color: #7C7C7C;
    text-align: right;
    font-size: 20px;
    font-weight: 500;
}

.link {
    padding: 15px;
    border-radius: 10px;
    border: none;
    background: #EEE5E9;
    color: #7C7C7C !important;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    display: block;
    width: 50%;
    font-size: 25px;
    margin: 75px auto;
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    transition: box-shadow 0.3s ease-in-out;
}

.link:hover {
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    border-bottom: none !important;
}

/* SECOND */

.second {
    background: #EEE5E9;
    height: 100%;
}

.second img {
    width: 75%;
    height: 100%;
    margin: 0 auto;
    padding: 30px 0;
    display: block;
}

@media screen and (max-width: 750px) {
    .first {
        padding-bottom: 0;
    }

    .first h1 {
        font-size: 40px;
    }

    .right, .left {
        width: 100%;
    }

    .left {
        padding: 10% 0;
    }

    .left img {
        transform: none;
        width: 50%;
    }

    .right {
        padding: 0 10%;
    }

    .right p {
        text-align: center;
        font-size: 16px;
    }

    .second img {
        width: 90%;
    }
}

@media screen and (max-width: 620px) {
    .first h1 {
        font-size: 35px;
    }

    .left h2 {
        font-size: 25px;
    }
}

@media screen and (max-width: 555px) {
    .first h1 {
        font-size: 30px;
    }

    .link {
        font-size: 15px;
    }
}

@media screen and (max-width: 502px) {
    .first h1 {
        font-size: 25px;
    }

    .left h2 {
        font-size: 20px;
    }
}

@media screen and (max-width: 434px) {
    .first {
        padding-right: 2em;
        padding-left: 2em;
    }
}

