.projects {
    min-height: 100vh;
    height: auto;
    background: #EFC88B;
}

.projects h1 {
    text-transform: uppercase;
    font-weight: 800;
    font-size: 50px;
    padding-top: 21vh;
    padding-bottom: 80px;
    text-align: center;
}

.table {
    border-collapse: collapse;
    margin: auto;
    width: 90%;
    font-weight: 700;
    color: #7C7C7C;
    font-size: 22px;
}

.table a, .table a:visited {
    color: inherit;
}

td {
    text-align: center;
    padding: 15px;
}

td:nth-child(2) {
    border-right: 1px solid #7C7C7C;
    border-left: 1px solid #7C7C7C;
}

td:last-child {
    width: 10%;
}

tr {
    border-bottom: 1px solid #7C7C7C;
}

tr:last-of-type {
    border-bottom: 0;
}

/* NEPARNE */
tr:nth-child(odd) {
    background-color: #EEE5E9;
}

/* PARNE */
tr:nth-child(even) {
    background-color: #B8B8B8;
}

/* musime nastavit position absolute na footer tu */

.footer {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
}

@media screen and (max-width: 1000px) {
    .projects h1 {
        font-size: 40px;
    }

    .table {
        font-size: 17px;
    }
}

@media screen and (max-width: 759px) {
    .footer {
        position: unset;
        bottom: unset;
        right: unset;
        left: unset;
        padding-top: 1em;
    }
}

@media screen and (max-width: 425px) {
    .table {
        font-size: 15px;
    }

    td:nth-child(2) {
        display: none;
    }

    td:last-child {
        border-left: 1px solid #7C7C7C;
    }
}
