:root {
    --height-h1: 50px;
}

/* FIRST PART */

.first {
    height: 100%;
    background: #A3A5D9;
}

.img {
    width: 50%;
    height: 100%;
    display: inline-block;
    padding: 10%;
}

.img img {
    width: 100%;
    display: block;
    margin: auto;
}

.description {
    width: 50%;
    display: inline-block;
    vertical-align: top;
    text-align: right;
    padding: 21vh 5em;
}

.description h1 {
    text-transform: uppercase;
    font-weight: 800;
    font-size: var(--height-h1);
}

.description p {
    margin: 30px 0;
    font-weight: 500;
    font-size: 21px;
}

/* SECOND PART */

.second {
    height: 100%;
    background: #C9CFF2;
    display: flex;
    flex-wrap: wrap;
    padding: 6%;
}

.second .imageLink {
    display: inline-block;
    padding: 15px 15px calc(15px/2);
    width: calc(100%/3);
    position: relative;
}

.second .imageLink:hover {
    border-bottom: none !important;
}

.imageLink img {
    width: 100%;
    transition: .3s filter ease-in-out;
}

.imageLink:hover img {
    filter: blur(4px);
    -webkit-filter: blur(4px);
}

.imageLink span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    text-align: center;
    transition: .3s opacity ease-in-out;
}

.imageLink:hover span {
    opacity: 1;
}

.link {
    padding: 15px;
    border-radius: 10px;
    border: none;
    background: #5851DB;
    color: #EEE5E9 !important;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    display: block;
    width: 25%;
    font-size: 25px;
    margin: 75px auto;
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    transition: box-shadow 0.3s ease-in-out;
}

.link:hover {
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    border-bottom: none !important;
}

@media screen and (max-width: 1283px) {
    :root {
        --height-h1: 40px;
    }

    .img img {
        transform: translateY(16%);
    }

    .description p {
        font-size: 17px;
    }
}

@media screen and (max-width: 1002px) {
    :root {
        --height-h1: 30px;
    }

    .img img {
        transform: translateY(45%);
    }

    .description p {
        font-size: 16px;
    }

    .second .imageLink {
        padding: calc(15px/2) calc(15px/2) calc(15px/4);
    }
}

@media screen and (max-width: 811px) {
    :root {
        --height-h1: 40px;
    }

    .img, .description {
        width: 100%;
    }

    .img {
        padding: 10% 0;
    }

    .img img {
        transform: none;
        width: 50%;
    }

    .description {
        text-align: center;
        padding: 0 10%;
    }

    .description p {
        font-size: 16px;
    }

    .second .imageLink {
        width: 50%;
    }

    .link {
        width: 50%;
    }
}

@media screen and (max-width: 621px) {
    .img {
        padding: 15% 0;
    }

    .link {
        font-size: 15px;
        margin: 50px auto;
    }
}

@media screen and (max-width: 430px) {
    .link {
        margin: 25px auto;
    }
}

@media screen and (max-width: 405px) {
    .img {
        padding: 20% 0;
    }

    .second .imageLink {
        width: 100%;
    }
}

@media screen and (max-width: 344px) {
    :root {
        --height-h1: 40px;
    }

    .description p {
        font-size: 15px;
        margin: 15px 0;
    }
}
