.footer {
    margin-top: 10px;
    padding: 10px;
    background: #13315C;
    font-size: 20px;
}

.footer p {
    font-weight: 200;
}

.footer p a {
    font-weight: 600;
}

@media screen and (max-width: 462px) {
    .footer {
        font-size: 16px;
    }
}

@media screen and (max-width: 390px) {
    .footer {
        font-size: 15px;
    }
}
